# API Backend
VITE_API_URL=https://api.eneogroup.site/api/v1

# Keycloak Authentication
VITE_KEYCLOAK_URL=https://sso-auth.eneogroup.site
VITE_KEYCLOAK_REALM=eneogroup-si
VITE_KEYCLOAK_CLIENT_ID=eneo-file-web
